# Unity – main things to ignore
UnityFirstProject/Library/
UnityFirstProject/Temp/
UnityFirstProject/Obj/
UnityFirstProject/Logs/
UnityFirstProject/UserSettings/
UnityFirstProject/Build/
UnityFirstProject/Builds/
UnityFirstProject/.vs/
